<!doctype html>
<html>
<head>
  <title>Hi There!</title>
</head>
<body>
    <form action = "/madlib">
        Enter a person name: 
            <input type="text" name="person"><br>
        Choose a color:
            <input type ="radio" id = "blue" value ="blue" name = "color">
            <label for = "color">Blue</label>
            <input type ="radio" id = "green" value ="green"  name = "color">
            <label for = "color">Green</label>
            <input type ="radio" id = "pink" value ="pink"  name = "color">
            <label for = "color">Pink</label>
            <input type ="radio" id = "orange" value ="orange" name = "color">
            <label for = "color">Orange</label><br>
        Select a noun: 
            <select name="noun" id="noun">
                <option value="paris">Paris</option>
                <option value="kobe bryant">Kobe Bryant</option>
                <option value="dog">Dog</option>
                <option value="bahamas">Bahamas</option>
            </select><br>
        Pick an adjective:<br>
            <input type="checkbox" id="gorgeous" name="adjective" value="gorgeous">
            <label for=""> Gorgeous</label><br>
            <input type="checkbox" id="scary" name="adjective" value="scary">
            <label for="adjective"> Scary</label><br>
            <input type="checkbox" id="quiet" name="adjective" value="quiet">
            <label for="adjective">Quiet</label><br>
  
        <input type="submit">
    </form>
                           
</body>
</html>

